
			* {
				background-color: #404040;
				color: white;
			}
			.header, .footer {
				text-align: center;
			}
			img {
				padding-top: 0.25em;
			}
			p {
				padding: 0.25em;
			}
			input {
				padding: 0.25em;
				font-size: x-large;
			}
			h1 {
				padding-bottom: 0.1em;
				padding-top: 0em;
				padding-left: 0em;
				padding-right: 0em;
}
			div {
				padding: 0em;
			}
			div {
				max-width: 720px;
				margin-left: auto;
				margin-right: auto;
			}

	